[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
pytest = "*"
pytest-bdd = "*"
pytest-rerunfailures = "*"
allure-pytest = "*"
appium-python-client = "*"
selenium = "*"
python-dotenv = "*"
psycopg = {extras = ["binary"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
